In [1]:
#importing the libraries
import pandas as pd

In [2]:
#reading the file
data = pd.read_csv('/Users/adityaagarwal/Aditya Ag/Jupyter Notebook/Dimention Reduction using Python/Feature Selection/3_backward_feature_elimination.csv')

In [3]:
# first 5 rows of the data
data.head()

,ID,season,holiday,workingday,weather,temp,humidity,windspeed,count
0,AB101,1,0,0,1,9.84,81,0.0,16
1,AB102,1,0,0,1,9.02,80,0.0,40
2,AB103,1,0,0,1,9.02,80,0.0,32
3,AB104,1,0,0,1,9.84,75,0.0,13
4,AB105,1,0,0,1,9.84,75,0.0,1

In [4]:
#shape of the data
data.shape

(12980, 9)

In [5]:
# checking missing values in the data
data.isnull().sum()

ID            0
season        0
holiday       0
workingday    0
weather       0
temp          0
humidity      0
windspeed     0
count         0
dtype: int64

Note:

`X` will be the independent variable while `Y` will be the target variable

In [6]:
# creating the training data
X = data.drop(['ID', 'count'], axis=1)
y = data['count']

In [8]:
X.shape, y.shape

((12980, 7), (12980,))

NOTE:

MLXtend = has pre written code for Forward Feature Elimination method and Backward Feature elimination methods

In [9]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 5.9 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.2 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: scipy>=1.2.1 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: joblib>=0.13.2 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scikit-learn>=0.20.3 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: pandas>=0.24.2 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: setuptools in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: pillow>=6.2.0 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: six in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/adityaagarwal/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.19.0

In [10]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.linear_model import LinearRegression

We need to count the Bikes rented

In [24]:
lreg = LinearRegression()
sfs1 = sfs(lreg, k_features=4, forward=False, verbose=1, scoring='neg_mean_squared_error')

# sfs(model name, feature to be selected, forward = false = backward, verbose = 1 = print model summary, performance metrics)

In [25]:
sfs1 = sfs1.fit(X, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.1s finished
Features: 6/4[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.1s finished
Features: 5/4[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
Features: 4/4

In [26]:
# Convert it into a list
feat_names = list(sfs1.k_feature_names_)
print(feat_names)

['holiday', 'workingday', 'temp', 'humidity']

In [27]:
new_data = data[feat_names]
new_data['count'] = data['count']

/var/folders/4k/bqkmm_s90gbdmjr_kbd0jv7w0000gn/T/ipykernel_3377/1240127211.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['count'] = data['count']

In [28]:
# first five rows of the new data
new_data.head()

   holiday  workingday  temp  humidity  count
0        0           0  9.84        81     16
1        0           0  9.02        80     40
2        0           0  9.02        80     32
3        0           0  9.84        75     13
4        0           0  9.84        75      1

In [29]:
# shape of new and original data
new_data.shape, data.shape

((12980, 5), (12980, 9))