# Period, Period_index, TimeStamp

### 1. Yearly Period

In [1]:
import pandas as pd
y = pd.Period('2020')
y                  # Period of 2020, A-mean annual, Dec mean ending in December

Period('2020', 'A-DEC')

In [2]:
dir(y) # To find out property of period

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time

Timestamp('2020-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [6]:
y.is_leap_year

True

### 2.  Monthly Period

In [7]:
m = pd.Period('2020-12')
m

Period('2020-12', 'M')

In [8]:
m.start_time

Timestamp('2020-12-01 00:00:00')

In [9]:
m.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [10]:
m+1

Period('2021-01', 'M')

### 3. Daily Period

In [13]:
d = pd.Period('2020-09-17 23:00:00',freq='D')
d

Period('2020-09-17', 'D')

In [14]:
d.start_time

Timestamp('2020-09-17 00:00:00')

In [15]:
d+1

Period('2020-09-18', 'D')

### 4. Hourly Period

In [16]:
h = pd.Period('2020-08-15 23:00:00',freq='H')
h

Period('2020-08-15 23:00', 'H')

In [17]:
h+1

Period('2020-08-16 00:00', 'H')

In [18]:
h+pd.offsets.Hour(1) # Achieve same results using pandas offsets hour

Period('2020-08-16 00:00', 'H')

### 5. Quarterly Period

In [24]:
q1= pd.Period('2020Q1')

In [25]:
q1.end_time             # 3 months

Timestamp('2020-03-31 23:59:59.999999999')

In [26]:
# Fiscal year (Jan-Dec) # For Walmart Feb-Jan

In [28]:
q1= pd.Period('2020Q1', freq='Q-JAN') # Q-Jan mean period ending in January
q1

Period('2020Q1', 'Q-JAN')

In [29]:
q1.start_time

Timestamp('2019-02-01 00:00:00')

#### asfreq to convert period to a different frequency

In [30]:
q1.asfreq('M',how='start')

Period('2019-02', 'M')

In [31]:
q1.asfreq('M',how='end')

Period('2019-04', 'M')

In [33]:
q2= pd.Period('2019Q1', freq='Q-JAN') 
q1-q2         # mathematical opeation possible

### 6. Weekly Period

In [34]:
w = pd.Period('2020-07-05',freq='W') # We can also change weekend to Friday
w

Period('2020-06-29/2020-07-05', 'W-SUN')

In [35]:
w-1

Period('2020-06-22/2020-06-28', 'W-SUN')

## PeriodIndex and period_range

In [36]:
r = pd.period_range('2016', '2020', freq='q')
r

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4',
             '2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [37]:
r[0].start_time

Timestamp('2016-01-01 00:00:00')

In [39]:
r[0].end_time

Timestamp('2016-03-31 23:59:59.999999999')

In [40]:
r = pd.period_range('2019', '2020', freq='q-jan') # For Walmart
r

PeriodIndex(['2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [78]:
idx = pd.period_range('2019', periods=10, freq='q-jan') # period index allows partial
idx

PeriodIndex(['2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1',
             '2021Q2', '2021Q3', '2021Q4', '2022Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [79]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx) # pandas series with dummy values
ps

2019Q4   -0.385235
2020Q1   -0.510666
2020Q2    1.359094
2020Q3    1.962716
2020Q4    0.360960
2021Q1    0.153406
2021Q2   -0.812772
2021Q3   -0.395018
2021Q4   -0.604641
2022Q1    0.383965
Freq: Q-JAN, dtype: float64

### Partial Indexing

In [80]:
ps['2019']

2019Q4   -0.385235
2020Q1   -0.510666
2020Q2    1.359094
2020Q3    1.962716
2020Q4    0.360960
Freq: Q-JAN, dtype: float64

In [81]:
ps['2019':'2020']

2019Q4   -0.385235
2020Q1   -0.510666
2020Q2    1.359094
2020Q3    1.962716
2020Q4    0.360960
2021Q1    0.153406
2021Q2   -0.812772
2021Q3   -0.395018
2021Q4   -0.604641
Freq: Q-JAN, dtype: float64

### Converting between representations

In [82]:
pst = ps.to_timestamp()              # to timestamp
pst

2018-11-01   -0.385235
2019-02-01   -0.510666
2019-05-01    1.359094
2019-08-01    1.962716
2019-11-01    0.360960
2020-02-01    0.153406
2020-05-01   -0.812772
2020-08-01   -0.395018
2020-11-01   -0.604641
2021-02-01    0.383965
Freq: QS-NOV, dtype: float64

In [83]:
pst.index

DatetimeIndex(['2018-11-01', '2019-02-01', '2019-05-01', '2019-08-01',
               '2019-11-01', '2020-02-01', '2020-05-01', '2020-08-01',
               '2020-11-01', '2021-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [84]:
ps = pst.to_period()                # to period
ps

2018Q4   -0.385235
2019Q1   -0.510666
2019Q2    1.359094
2019Q3    1.962716
2019Q4    0.360960
2020Q1    0.153406
2020Q2   -0.812772
2020Q3   -0.395018
2020Q4   -0.604641
2021Q1    0.383965
Freq: Q-DEC, dtype: float64

In [85]:
ps.index

PeriodIndex(['2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1',
             '2020Q2', '2020Q3', '2020Q4', '2021Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

## Processing Wal Mart's Financials

In [86]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [87]:
df.set_index("Line Item",inplace=True)  # changing indext to datetime
df = df.T     #transpose the table rows into column
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [89]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [91]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN") #Q-Jan for Walmart data # converting to periodindex
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [92]:
df["Start Date"]=df.index.map(lambda x: x.start_time) # Adding Start Date column using index maping
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [93]:
df["End Date"]=df.index.map(lambda x: x.end_time) # Adding End Date Colummn
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999