# Basic Functions of Dataframe

In [32]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [33]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [34]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [35]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [36]:
df.shape                          #dataframe shape

(6, 4)

In [37]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [38]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [39]:
df['event'] # or df.event meaning same

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [40]:
type(df['event'])

pandas.core.series.Series

In [41]:
df[['event','day']]         #showing specific columns

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [42]:
df['temperature'].max()

35

In [43]:
df.describe()                    #basic statistics at a glance

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [45]:
df[df['temperature']>=32]             #condition

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [46]:
df[df['temperature']==df['temperature'].max()] #condition (where temp is max)

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [47]:
df['day'][df['temperature']==df['temperature'].max()] #condition filtering for date column

1    1/2/2017
Name: day, dtype: object

In [48]:
df.set_index('event',inplace=True)           #Changing index
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [49]:
df.loc['Snow']                             #access row using .loc['index'] function

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [50]:
df.reset_index(inplace=True)              #reset index
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2